# Dependencies
node_modules/
*.log

# Build output
dist/

# Vite-specific temporary directories
.vite/
.vit/

# Rollup and Vite plugin output
stats.html

# Linter and IDE files
.eslintcache
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Debugging output
*.pid
*.pid.lock