:root {
    --header-font: 'PPSupplySans', sans-serif;
    --header-font-weight: 800;
    --body-font-family: 'PPFraktionSans', sans-serif;
    --body-font-weight: 400;
}
/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Teko:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Teko:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://use.typekit.net/brb8uki.css");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Syne+Mono&display=swap');




@font-face {
    font-family: 'PPFraktionSans';
    src: url('/fonts/PPFraktionSans-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PPFraktionSans';
    src: url('/fonts/PPFraktionSans-Bold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'PPSupplySans';
    src: url('/fonts/PPSupplySans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PPSupplySans';
    src: url('/fonts/PPSupplySans-Bold.otf') format('opentype');
    font-weight: 800;
    font-style: bold;
}

body {
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-size: 1.125 rem;
    color: var(--ink);

}

h1,h2,h3,h4,h5,h6 {
    
    font-family: 'PPSupplySans', sans-serif;
    font-weight: var(--header-font-weight);
}

.font-tomarik {
    font-family: "tomarik-brush", sans-serif;
}

.custom-thumbnail {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

.sidebar a.highlighted::before {
    content: "-";
    position: absolute;
    left: -20px;
    color: var(--redwood);
  }