/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 16px;
    display: block;
  }
  @media (min-width: 768px) {
    .bm-burger-button {
      display: none;
    }
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #FF5B03;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 32px;
    width: 32px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    
  }
  


  /* General sidebar styles */
  .bm-menu {
    background: #5F6B53;
    padding: 1.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #5F6B53;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #F3F1EE;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: block;
    margin: 0.5em 0;
    text-decoration: none;
    color: #F3F1EE;
    transition: color 0.3s ease;
    width: 100%;

}
.bm-item:hover {
    color: #FF5B03;
}
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }